body {
    background: url(https://images.pexels.com/photos/262047/pexels-photo-262047.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(246,234,190);
  }
  #survey-form {
    width: 70%;
    background-color: rgb(246,234,190);
    opacity: 0.8;
    color: rgb(100,65,23);
    font-weight:normal;
    padding: 4rem;
    font-size: 1.4rem;
  }
  #title {
    text-align: center;
    margin-top: 4.5%;
    font-size: 3rem;
  }
  #description {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1.3rem;
  }
  #name,
  #email,
  #number,
  #dropdown,
  #textarea,
  .radio-checkbox-label,
  button {
    display: block;
    margin: 0.8rem auto 0.8rem auto;
    width: 100%;
    border: none;
    padding: 0.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #btn {
    font-size: 1.5rem;
    padding: 1% 0 1% 0;
    background-color: rgb(133,117,78);
    color: white;
    font-weight: bold;
  }
  #btn:hover {
    background-color: rgb(153,101,21);
  }
  .checkbox {
    margin-bottom: 1rem;
  }